.container {
    width: 1000px;
    margi
}





body {
    font-family: Garamond;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    background-color: tomato;
    width: 500px;
    margin: auto;
}

form {
    background: green;
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 500px;
    margin: auto;
}